<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works Cited - UFOSighting Data App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1vIeIcH0Z8nSX5xxBni4a-1e8SZFBB8XyEg&s" width="50" height="50" class="rounded-circle mb-3" alt="Member 1">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link " href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/map">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about_us">About Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link active"  href="/works_cited">Works Cited</a>       
            
          </li>
            </ul>
          </div>
        </div>
      </nav>

    <header class="bg-primary text-white text-center py-5">
        <div class="container">
            <h1>Works Cited</h1>
            <p class="lead">Sources and references used in the UFO Sighting Data App</p>
        </div>
    </header>

    <section class="container my-5">
        <h2>References</h2>
        <ul class="list-group">
          <li class="list-group-item">Kaggle Datasets <a href="https://www.kaggle.com/datasets/jonwright13/ufo-sightings-around-the-world-better" target="_blank">www.kaggle.com</a></li>
          <li class="list-group-item">Javascript Plotly <a href="https://plotly.com/javascript/" target="_blank">www.plotly.com</a></li>
          <li class="list-group-item">Leaflet <a href="https://leafletjs.com/" target="_blank">www.leafletjs.com</a></li>
          <li class="list-group-item">Flying Saucer Picture <a href="https://www.pexels.com/photo/glowing-with-blue-light-flying-saucer-7462340/" target="_blank">www.pexels.com</a></li>
          <li class="list-group-item">Moving Alien <a href="https://www.flaticon.com/free-icon/ufo_620689?term=ufo&page=1&position=3&origin=search&related_id=620689" target="_blank">www.flaticon.com</a></li>
          <li class="list-group-item">Alien Head Marker <a href="https://commons.wikimedia.org/wiki/File:Alien-hack-master.png" target="_blank">commons.wikimedia.org</a></li>
            <li class="list-group-item">The Black Vault <a href="https://www.theblackvault.com/documentarchive/category/the-fringe/ufo-phenomena/
              " target="_blank">www.theblackvault.com</a></li>
            <li class="list-group-item">The National UFO Reporting Center <a href="https://nuforc.org/databank/" target="_blank">www.nuforc.org</a></li>
            <li class="list-group-item">New Space Economy <a href="https://newspaceeconomy.ca/2025/02/04/the-history-of-ufo-sightings-around-the-world/
              " target="_blank">newspaceeconomy.ca</a></li>
            <li class="list-group-item">Roswell Incident <a href="https://en.wikipedia.org/wiki/Roswell_incident" target="_blank">www.wikipedia.org</a></li>
            <li class="list-group-item">BBC News <a href="https://www.bbc.com/news/uk-68515515" target="_blank">www.bbc.com</a></li>
            <li class="list-group-item">ChatGPT <a href="https://chatgpt.com/" target="_blank">www.chatgpt.com</a></li>
        </ul>
    </section>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2025 UFO Sighting Data App. All rights reserved.</p>
    </footer>

</body>
</html>
