  #features .row {
    display: flex;
    flex-wrap: wrap;
  }

  #features .col-md-4 {
    display: flex;
    flex-direction: column;
  }

  #features .card {
    flex: 1;
  }

  .form-group {
    margin-bottom: 1rem;
  }
  select,
  input[type="number"] {
    width: 100%;
  }

  label.form-label {
    color: #fdf6e3;
    font-weight: bold;
    font-size: 0.95rem;
    margin-bottom: 0.25rem;
  }
  
  input[type="number"],
  select.form-select {
    background-color: #fdf6e3;
    color: #002b36;
}

  .card-header {
    background-color: transparent;
    color: #fdf6e3;
    font-weight: bold;
    border-bottom: 1px solid #fdf6e3;
    text-align: center;
  }


 /* #alien {
    position: relative;
    top: 0px;
    animation-name: fly;
    animation-duration:  5s;
  }

  @keyframes fly {
      0%   { top:0px;left: 0px;}
      100% { top:0px;left: 250px;}
    } */ 
    

  