#map {
    height: 800px;
  }

   
 /* #alien {
    position: relative;
    top: 0px;
    animation-name: fly;
    animation-duration:  5s;
  }

  @keyframes fly {
      0%   { top:0px;left: 0px;}
      100% { top:0px;left: 250px;}
    } */ 
    

  